*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #2f6690;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: white;
    text-shadow: 1px 2px 2px black;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    background-color: #2f6690;
    width: 80%;
    transition: ease 0.3s ;
    padding: 30px;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 30px;
    text-shadow: 0 15px 10px #403d39;
}
nav ul:hover{
    border-radius: 40% 40%; 
    background-color: #16425b;
    border: solid 3px #403d39;
    color: #2f6690;
    box-shadow: 5px 8px 10px black;
}
a{
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-align: justify;
}
a:hover{
    color: #eb5e28;
    text-decoration: underline;
    transition: color ease 0.3s;
    color: #d9dcd6;
}
#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    padding:25px;
}
form p{
    margin:auto;
    padding: 25px;
    font-size: 1.2em;
    text-align: center;
    font-weight: 600;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form input{
    width: 100%;
    text-align: center;
}
.button{
    margin: auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: grey;
    color: white;
    cursor: pointer;
    transition: ease-out .3s;
    font-weight: 500;
}
.button:hover{
    text-shadow: 2px 3px 3px black;
    box-shadow: 7px 10px 12px black;
    background-color: red;
}
#table{
    display: table;
    border: solid black;
    background-color: #2f6690;
    padding: auto;
    margin: 30px auto;
    border-spacing: 15px;
    border-color: white;
    width: fit-content;
}
